* {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.979);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15px;
}

/* Inicio */

.mainInicio{
    bwidth: 100%; 
    height: 100%;   
    background-image: url(../imagenes/Fondo.jpg);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
}


.intro {
    padding-top: 300px;
    padding-bottom: 350px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.548);
    justify-content: center;
}


main {
    background-color: whitesmoke;
}

main div h1 {
    font-size: 70px;
}

main div p {
    font-size: 28px;
}


main div img {
    width: 60rem;
    height: ;
}


/* Paginas */

.sectionBio {
    padding-top: 15px;
    padding-left: 30px;
}

.mainLog {
    padding: 30px;
}

.mainLog ul {
    list-style: circle;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mainRec{
    padding: 15px;
}

.mainRec ul {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Fotos */

.fotobio {
    width: 400px; 
    height: 450px;   
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover; 
    padding-bottom: 15px;
}

.fotorec {
    width: 35rem;
    height: 25rem;
    padding-left: 30px;
}

.fotolog {
    width: 35rem;
    height: 25rem;
    padding-left: 30px;
    padding-bottom: 15px;
}

.grid-container {
    padding: 15px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.grid-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.grid-item img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Footer */


footer {
    background-color: rgba(0, 0, 0, 0.979);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.foot {
    width: 50%;
}


footer div {
    color: whitesmoke;
    height: 50%;
    padding-left: 20px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}   

footer ul li {
    list-style: none;
}

footer ul li a {
    color: whitesmoke;
    text-decoration: none;
}

/* Medias Query */
/* Mobile */

@media only screen and (max-width: 500px){
    /* Inicio */
    .mainInicio{
        width: 100%; 
        height: 100%;   
        background-image: url(../imagenes/phone.jpg);
        background-repeat: no-repeat; 
        background-position: center center; 
        background-size: cover; 
    }

    .mainInicio .intro p {
        font-size: 0;
    }

    .titulopag {
        font-size: 0;
    }

    /* Biografia */
    .sectionBio {
        padding: 10px;
        font-size: 15px;
    }
    
    /* Logros */
    .mainLog {
        padding: 10px;
        font-size: 15px;
    }

    .fotolog {
        width: 100%;
    }

    .mainRec{
        padding: 10px;
        font-size: 15px;
    }

    .fotorec {
        width: 100%;
    }

    .grid-container {
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
    }
    
    .grid-item {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    /* Footer */
    footer {
        font-size: 15px;
    }
}

/* Tablet */

@media only screen and (min-width: 501px) and (max-width: 960px) {
    /* Inicio */
    .mainInicio{
        width: 100%; 
        height: 100%;   
        background-image: url(../imagenes/messiarg.webp);
        background-repeat: no-repeat; 
        background-position: center center; 
        background-size: cover; 
    }

    .mainInicio .intro p {
        font-size: 0;
    }

    .titulopag {
        font-size: 0;
    }

    /* Biografia */
    .sectionBio {
        padding: 10px;
        font-size: 15px;
    }
    
    /* Logros */
    .mainLog {
        padding: 10px;
        font-size: 15px;
    }

    .fotolog {
        width: 100%;
    }

    .mainRec{
        padding: 10px;
        font-size: 15px;
    }

    .fotorec {
        width: 100%;
    }

    .grid-container {
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
    }
    
    .grid-item {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    /* Footer */
    footer {
        font-size: 15px;
    }
}


